[Desktop Entry]
Version=1.0
Name=polyphone
Comment=Edit SF2 sound font files
Comment[fr]=Edite les fichiers SF2
Exec=polyphone
Icon=polyphone
Terminal=false
Type=Application
Categories=Audio;
MimeType=audio/x-polyphone;audio/midi;
